* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 140vh;
    background: #4F0054;

}

header {
    border: 2px solid black;
    background: #000;
}

.nav-bar {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 2%;
}

.nav-bar li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-bar li::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.1s ease;
}

.nav-bar li:hover::after {
    width: 100%;
}

.nav-bar .nav-uls ul {


    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
}

.nav-bar .botao {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 50px;
    border-radius: 50px;
    background: transparent;
    color: white;
    cursor: pointer;
}

.nav-bar .nav-logo img {
    width: 50%;
    display: flex;
}

/* cabeçalho termina aqui***/

.main {
    margin-bottom: 50px;

}

.main section {
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px 2%;
    gap: 20px;

}

.main section .sectio-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;

}

.main section .sectio-text button {
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    bottom: 5px;
    left: 2px;
    padding: 10px 4%;
    border-radius: 50px;
    color: white;
    background: transparent;

}

.main section .sectio-text .texto {
    height: 200px;
    max-width: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
}

.main section .sectio-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.div-h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    color: #be10ca;
}

.main section .sectio-img img {
    width: 350;
    max-width: 400px;
}

.dados-main {
    background: white;
    height: 500px;
    border: 2px solid rgb(253, 253, 253);
}

.dados-main .div-habil {
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    background: white;
    color: #be10ca;
}

.dados-main .div-habil .item {
    border: 2px solid #4F0054;
    height: 350px;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px 50px 10px;
    box-shadow:  15px 15px #4F0054;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.dados-main .item-img img {
    width: 30%;
    
}